<template name="item">
  <div class="row extend push-0-b">
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          {{#if isTV}}
          <img src="{{poster_path}}" class="img-responsive" alt="Poster">
          {{/if}}
          {{#if isMovie}}
          <img src="https://image.tmdb.org/t/p/w184{{poster_path}}" class="img-responsive" alt="Poster">
          {{/if}}
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4><a href="{{link}}" target="_blank">{{title}} ({{year}})</a></h4>
            <p>
              {{overview}}
            </p>
          </div>
          <div class="card-action">
            <div class="item-buttons">
              {{#if isRequested}}
              <button class="btn disabled already-requested" disabled><i class="material-icons left">&#xE876;</i>{{isRequested}}</button>
              {{else}}
              {{#if isTV}}
              <div class="btn-group" role="group">
                <button type="button" class="waves-effect waves-light btn orange dropdown-toggle tv-request" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons left">&#xE145;</i>Request
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item add-request" href="#" value="false">Request New Episodes</a>
                  <a class="dropdown-item add-request" href="#" value="true">Request All Episodes</a>
                </div>
              </div>
              {{else}}
              <button class="waves-effect waves-light btn add-request orange"><i class="material-icons left">&#xE145;</i>Request</button>
              {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
