<template name="search">
    <div class="row">
      <div class="content white">
        <h3 class="grey-text text-darken-4"><span class="orange-text">S</span>earch</h3>
        <p>Want to watch something but it's not currently on Plex? Select an option below and do a quick search!</p>
      </div>
    </div>


  <div class="search">
    <div class="row">



      <div class="col s12 m12 l3">
        <div class="block push-30-b z-depth-1">
          <ul class="search-selector center-align">
            {{#each searchOptions}}
            <li><a href="#" class="{{#if activeSearch}}active-search{{/if}}">{{this}}</a></li>
            {{/each}}
          </ul>

          <div class="block-content clearfix">
            <div class="">
              <form class="form clearfix" id="search-form">
                <div class="form-group">
                  <div class="row extend push-5-b">
                    <div class="input-field push-5-b col s8">
                      <input type="text" class="validate" id="search-input" size="35" {{searchDisabled}} autofocus="">
                      <label for="search-input">Search</label>
                    </div>

                    <div class="push-5-b col s4">
                      {{#if searching}}
                      <div class="preloader-wrapper small push-20-t active">
                        <div class="spinner-layer spinner-blue">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                        </div>
                      </div>
                      {{else}}
                      <i class="material-icons small push-20-t">search</i>
                      {{/if}}
                    </div>
                  </div>

                </div>
                {{#if searchDisabled}}
                <br>
                <br>
                <div class="alert alert-danger" role="alert">
                  Searching has been disabled.
                </div>
                {{/if}}
              </form>

            </div>
          </div>
        </div>

      </div>

      <div class="col s12 m12 l9">

      <div id="search-results">
        {{#each results}}
          {{> item}}
        {{/each}}
      </div>

      {{#if error}}
        <div class="col-sm-12">
          <div class="alert alert-warning" role="alert">No results found</div>
        </div>
      {{/if}}

      </div>

    </div>

    <!-- Go to top button -->
    <div class="go-to-top">
      <i class="fa fa-arrow-up"></i>
    </div>

  </div>
</template>
