<template name="requests">



    <div class="requests">
        <div class="content white">
            <div class="col s12 m9 l9">
                <h3 class="grey-text text-darken-4"><span class="orange-text">R</span>equests</h3>
                <p>Below you can see yours and all other requests, as well as their download and approval status.</p>
                {{#if currentUser}}
                <p>
                    Movies and TV:  <button class="btn btn-secondary-outline btn-sm" id="approveAll">Approve All</button>  <button class="btn btn-secondary-outline btn-sm" id="denyAll">Deny All</button>
                </p>
                {{/if}}

            </div>
            <div class="col s12 m3 l3">
                <div class="filter-sort">
                    <div class="btn-group">
                        <button type="button" class="waves-effect waves-light btn black darken-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons left">&#xE152;</i>Filter / Sort
                        </button>
                        <div class="dropdown-menu">
                            {{#each filterOptions}}
                            <a class="dropdown-item filter-select" href="#">{{{activeFilter}}}{{filter}}</a>
                            {{/each}}
                            <div class="dropdown-divider"></div>
                            {{#each sortOptions}}
                            <a class="dropdown-item sort-select" href="#">{{{activeSort}}}{{sort}}</a>
                            {{/each}}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Selector between Movies/TV/etc  and Sort/Filter Options-->
        <div class="row selectors">
            <ul class="search-selector z-depth-1 clearfix">
                {{#each searchOptions}}
                <li><a href="#" class="center-align {{#if activeSearch}}active-search{{/if}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>


        <!-- Deny model -->
        <div class="modal fade" id="denyModel" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="denyModelTitle">Deny</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="" id="denyModelID" />
                        <input type="text" class="form-control" id="denyModelReason" placeholder="Reason for denying request">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-danger-outline deny-confirm">Deny</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container-fluid">
            <!-- List of content -->
            <div class="flex-row">
                {{#each requests}}
                <div class="request-item col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div class="card horizontal">
                        <div class="card-header blue-grey darken-4">
                            {{#if searchType 'Movies'}}
                            <a href="http://www.imdb.com/title/{{imdb}}" target="_blank">{{title}}</a>
                            {{/if}}
                            {{#if searchType 'TV Shows'}}
                            <a href="{{link}}" target="_blank">{{title}} ({{year}})</a>
                            {{/if}}
                        </div>
                        <div class="card-image black darken-3">
                            {{#if searchType 'TV Shows'}}
                            <img src="{{poster_path}}" class="img-responsive" alt="Poster">
                            {{/if}}
                            {{#if searchType 'Movies'}}
                            <img src="{{poster_path}}" class="img-responsive" alt="Poster">
                            {{/if}}
                        </div>

                        <div class="card-stacked">

                            <div class="card-content">
                                <table class="centered">
                                    <tbody>

                                    <tr>

                                    </tr>


                                    {{#if searchType 'TV Shows'}}
                                    <tr>
                                        <td><i class="material-icons">&#xE8EB;</i></td><td>{{season_count}} Season(s)</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons">&#xE8FD;</i></td><td>{{episodes}}</td>
                                    </tr>
                                    {{/if}}
                                    <tr>
                                        <td><i class="material-icons">&#xE916;</i></td><td>{{release_date}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons">&#xE8CE;</i></td><td>{{{approval_status}}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons">&#xE2C4;</i></td><td>{{{download_status}}}</td>
                                    </tr>
                                    {{#if requesting_user }}
                                    <tr>
                                        <td><i class="material-icons">&#xE7FD;</i></td><td>{{requesting_user}}</td>
                                    </tr>
                                    {{/if}}
                                    <tr>
                                        <td><i class="material-icons">&#xE923;</i></td><td>{{created_at}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons">&#xE8B2;</i></td><td>{{issues}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>


                            <div class="card-action request-details-buttons">
                                {{#if currentUser}}

                                {{#if approved_show}}
                                <button class="btn btn-sm btn-success-outline approve-item">Approve</button>
                                {{/if}}
                                {{#if denied_show}}
                                <button class="btn btn-sm btn-danger-outline deny-item" data-toggle="model" data-target="#denyModel">Deny</button>
                                {{/if}}

                                <button class="btn btn-sm btn-danger-outline delete-item">Delete</button>
                                <button class="btn btn-sm btn-info-outline clear-issues">Clear Issues</button>
                                {{#if searchType 'Movies'}}
                                {{#if available}}
                                <button class="btn btn-sm btn-secondary-outline mark-unavailable">Mark Unavailable</button>
                                {{else}}
                                <button class="btn btn-sm btn-success-outline mark-available">Mark Available</button>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                <div class="btn-group">
                                    <button type="button" class="waves-effect waves-light btn orange dropdown-toggle report-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Report Issue <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="issue-select dropdown-item" data="Wrong Audio">Wrong audio</a></li>
                                        <li><a href="#" class="issue-select dropdown-item" data="No Subtitles">No subtitles</a></li>
                                        <li><a href="#" class="issue-select dropdown-item" data="Wrong Content">Wrong content</a></li>
                                        <li><a href="#" class="issue-select dropdown-item" data="Playback issues">Playback issues</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                {{/each}}
            </div>
        </div>

        <!-- Go to top button -->
        <div class="go-to-top">
            <i class="material-icons">&#xE5D8;</i>
        </div>

        <!-- Load more event trigger -->
        <div class="load-more" style="display:none;"></div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{#unless Template.subscriptionsReady}}
                <h3 class="loading">Loading... <i class="fa fa-spin fa-refresh"></i></h3>
                {{/unless}}
            </div>
        </div>
    </div>
</template>
