<template name="layout">
  <div class="navbar-fixed">
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper"><a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo"><i class="medium material-icons">&#xE038;</i> Plex Requests</a>
      <ul class="right hide-on-med-and-down">
        {{#if plexAuth}}
        <li class="{{isActiveRoute regex='search.page'}}"><a href="{{pathFor 'search.page'}}">Search</a></li>
        {{/if}}
        {{#if auth}}
        <li class="{{isActiveRoute 'requests.page'}}"><a href="{{pathFor 'requests.page'}}">Requests</a></li>
        {{#unless plexAuth}}
        <li><a href="{{pathFor 'home'}}">Login</a></li>
        {{/unless}}
        {{/if}}
        {{#if plexAuth}}
        <li><a href="#" id="logoutUser">Logout</a></li>
        {{/if}}
        <li><a class="admin-link" href="{{pathFor 'admin.page'}}">Admin</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="js-button-collapse button-collapse hide-on-large-only" id="js-button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>
  <ul id="nav-mobile" class="side-nav nav-mobile">
    {{#if plexAuth}}
    <li class="{{isActiveRoute regex='search.page'}}"><a href="{{pathFor 'search.page'}}">Search</a></li>
    {{/if}}
    {{#if auth}}
    <li class="{{isActiveRoute 'requests.page'}}"><a href="{{pathFor 'requests.page'}}">Requests</a></li>
    {{#unless plexAuth}}
    <li><a href="{{pathFor 'home'}}">Login</a></li>
    {{/unless}}
    {{/if}}
    {{#if plexAuth}}
    <li><a href="#" id="logoutUser-2">Logout</a></li>
    {{/if}}
    <li><a class="admin-link" href="{{pathFor 'admin.page'}}">Admin</a></li>
  </ul>

  <div class="page-container">

    <!-- Search bar and results list -->

    {{> yield}}

    <div class="modal fade" id="first-run-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Welcome to Plex Requests</h4>
          </div>
          <div class="modal-body">
            <p>
              <strong>Thank you for installing and using Plex Requests!</strong>
              <br>
              <br>
              Before you get started, please head over to the <a href="{{pathFor 'admin.page'}}">admin page</a> and create an account.
              You can then configure things and get going. Some highlights of the new version can be seen below:
              <br>
              <br>
              <ul>
                <li>
                  Approval system for requests
                </li>
                <li>
                  Enabled or disable search categories
                </li>
                <li>
                  Users can report issues with content
                </li>
                <li>
                  Improved visual style
                </li>
              </ul>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary-outline" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </div>
</template>
